$primary-color:#000000;
$second-color: #ffffff;
$decor-color: #63d1bb;
$hover-color: #62d1ba;
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

@mixin font-title($fs: 17px, $lh: 24px, $fw: 700) {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}
